{:deps    {poly/rest-api                {:local/root "../../bases/rest-api"}
           poly/user                    {:local/root "../../components/user"}
           poly/weather                 {:local/root "../../components/weather"}
           poly/sms-jp                  {:local/root "../../components/sms-jp"}

           org.clojure/clojure          {:mvn/version "1.10.1"}
           org.clojure/tools.deps.alpha {:mvn/version "0.12.985"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {}}}}
