{:aliases {:dev    {:extra-paths ["development/src"
                                  "development/resources"]
                    :extra-deps  {poly/rest-api {:local/root "bases/rest-api"}
                                  poly/weather  {:local/root "components/weather"}
                                  poly/user     {:local/root "components/user"}}}

           :+korea {:extra-paths ["components/sms/test"]
                    :extra-deps  {poly/sms {:local/root "components/sms"}}}

           :+japan {:extra-paths ["components/sms-jp/test"]
                    :extra-deps  {poly/sms {:local/root "components/sms-jp"}}}

           :test   {:extra-paths ["bases/rest-api/test"
                                  "components/user/test"
                                  "components/weather/test"]}

           :poly   {:main-opts  ["-m" "polylith.clj.core.poly-cli.core"]
                    :extra-deps {polyfy/polylith {:git/url   "https://github.com/polyfy/polylith"
                                                  :sha       "22fe6fe46bbee5c678d7d81bcbbd46d83be98a75"
                                                  :deps/root "projects/poly"}}}}}
