{:top-namespace        "greenlabs"
 :interface-ns         "interface"
 :default-profile-name "korea"
 :compact-views        #{}
 :vcs                  {:name     "git"
                        :auto-add false}
 :tag-patterns         {:stable  "v[0-9]*.[0-9]*.[0-9]*"
                        :release "v[0-9]*.[0-9]*.[0-9]*"}
 :projects             {"development"     {:alias "dev"}
                        "farm-morning"    {:alias "fmn-kr"}
                        "farm-morning-jp" {:alias "fmn-jp"}}}
